<div class="user-panel-header">
  <h2>Dostępne biurka</h2>
  
  <div class="header-buttons">
    @if (isAdmin) {
      <button (click)="goToAdminPanel()" class="admin-btn">⚙️ Panel admina</button>
    }
    <button (click)="logout()" class="logout-btn">🚪 Wyloguj</button>
  </div>
</div>
@if (reservedDeskMessage) {
  <div class="success-banner">
    ✅ {{ reservedDeskMessage }}
  </div>
}
<div class="desk-grid">
  @for (desk of desks; track desk.id) {
    <div class="desk-card" 
         [class.vip]="desk.deskType === 'Vip'"
         [class.unavailable]="desk.status !== 'Available'">
      
      <h3>Biurko {{ desk.name }}</h3>
      <p><strong>Pokój:</strong> {{ desk.roomNumber }}</p>
      <p class="description">{{ desk.description }}</p>
      
      @if (desk.deskType === 'Vip') {
        <span class="vip-badge">VIP</span>
      }

     <div class="status">
        Status: <strong>
          @if (desk.status === 'Available') { Dostępne }
          @else if (desk.status.includes('Cleaning')) { W trakcie sprzątania }
          @else { Zajęte }
        </strong>
      </div>

      @if (desk.status.includes('Cleaning')) {
        <button class="checkout-btn disabled cleaning-btn" disabled>🧹 {{ desk.status }}</button>
      }
      @else if (desk.status === 'Available') {
        <button class="reserve-btn" (click)="reserveDesk(desk)">Zarezerwuj</button>
      } 
      @else if (myBookedDeskIds.includes(desk.id)) {
        <button class="checkout-btn" (click)="checkoutDesk(desk)">Zwolnij moje biurko</button>
      } 
      @else {
        <button class="checkout-btn disabled" disabled>Zajęte</button>
      }
    </div>
  } @empty {
    <p>Ładowanie biurek...</p>
  }
</div>